//Media Query
$medium-view: 768px;
$large-view: 1200px;

//Color scheme
$black: #000000;
$gray-1: #cccccc;
$gray-2: #4c4c4c;
$light-blue: #bbf6ff;
$pink: #F66578;

//Font size
$fs-small: 16px;
$fs-medium: 18px;
$fs-x-medium: 21px;
$fs-xx-medium: 25px;
$fs-large: 30px;
$fs-x-large: 35px;
$fs-xx-large: 50px;
$fs-xxx-large: 70px;

//Font Weight
$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;

//Font Family
$ff-open-s: 'Open Sans', sans-serif;