//Media Query
$large-view: 1200px;

//Color scheme
$black: #000000;
$gray-1: #cccccc;
$gray-2: #4c4c4c;





//Font size
$fs-small: 14px;
$fs-medium: 16px;
$fs-x-medium: 20px;
$fs-xx-medium: 25px;
$fs-large: 30px;
$fs-x-large: 35px;
$fs-xx-large: 50px;

//Font Weight
$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;

//Font Family
$ff-open-s: 'Open Sans', sans-serif;